@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.react-flow__controls-button {
  background: #1a1a1a !important;
  border: none !important;
  color: #fff !important;
  fill: #fff !important;
  width: 16px !important;
  height: 16px !important;
}

@media (min-width: 768px) {
  .react-flow__controls-button {
    width: 22px !important;
    height: 22px !important;
  }
}

@media (min-width: 1024px) {
  .react-flow__controls-button {
    width: 32px !important;
    height: 32px !important;
  }
}

.react-flow__controls-button:hover {
  background: #2a2a2a !important;
}

.react-flow__controls-button svg {
  fill: #fff !important;
  max-width: 16px !important;
  max-height: 16px !important;
}
